* {
    margin: 0;
    padding: 0;
}

body {
    background: #ad8c4e;
}

h1 {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: #453313;
}

pre {
    text-align: center;
}

.wall {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #453313;
}

.floor {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #ad8c4e;
}

.robotA {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 40px 20px;
    border-color: transparent transparent #793434 transparent;
}

.robotB {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 40px 20px;
    border-color: transparent transparent #3c3c85 transparent;
}